{% extends "bulletinBoard/base.html" %}

{% block page_title %} {{  board.title }} {% endblock %}

{% block content %}
<h1><a>{{  board.title }}</a></h1>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>名前</th>
                <th>コメント内容</th>
                <th>日時</th>
            </tr>
            </thead>
            {% if comments %}
            <tbody>
            {% for comment in comments %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ comment.user.username|default:'名無し' }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.remark_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
            {% else %}
            <p>No comments exist in this board.</p>
            {% endif %}
        </table>
    </div>
</div>

<form action="" method="post" class="ui form">
    {% bootstrap_form form %}
    {% csrf_token %}
    {% bootstrap_button "コメント投稿" button_type="submit" button_class="btn-primary" %}
    <!--div class="ui stacked segment">
        {# --- 全体エラーメッセージ --- #}
        {% if form.non_field_errors %}
        <div class="ui red message">
            <div class="header">エラー</div>
            <ul class="list">
                {% for non_field_error in form.non_field_errors %}
                <li>{{ non_field_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for field in form %}
        <div class="field{% if field.errors %} error{% endif %}">
            {# --- 入力フィールド --- #}
            <div class="ui input{% if field.errors %} error{% endif %}">
                {{ field }}
            </div>
            {# --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） --- #}
            {% if field.errors %}
            <p class="red message">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div-->
</form>
{% endblock %}